@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  h1 {
    font-family: "Orbitron", serif;
    font-size: 30px;
    text-align: center;
  }
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ffd700;
  }
  
  .product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
  }
  
  .product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .product img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .product h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .product .price {
    color: #b12704;
    font-size: 1.2rem;
  }
  
  .add-to-cart {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart:hover {
    background-color: #ffd700;
  }
  
  .product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
